<form action="/new" method="POST">
	<fieldset>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Content" name="content">
		</div>
		<button class="btn btn-primary">Add</button>
		<a href="/" class="btn btn-default">Cancel</a>
	</fieldset>
</form>